{include file='ck1sh/_partials/head_inc.html'}
<body>
	<div class="wrap">
		<ul class="breadcrumb" style="background-color: transparent;">
            <li><a href="http://demo.chukou1.cn/Client/Home/Home.aspx">首页</a>&nbsp;<span class="divider">/</span></li>
            <li><a href="?r=oms/home">Selling Helper</a>&nbsp;<span class="divider">/</span></li>
            <li><a href="?r=oms/shorder/normal&platform={$platform}">{$platformName}</a>&nbsp;<span class="divider">/</span></li>
            <li class="active">上传订单</li>
        </ul>
		<!-- 基本参数设置 start-->
		<div class="setBox" style="padding:15px" id="show">
			<div class="www">
				<form action='index.php?r=oms/SHAliExpress/UpdateExcel' method="POST" enctype="multipart/form-data" >
					<p>
						<input type="file" name="filename" id="uploadFile" /><a href="http://www.chukou1.com/doc/sellinghelper/GetAliexpressOrderFilesForCK1.pdf" target="_blank">如何获得上传所需文件？</a>
					</p>
					<p>没有SKU也可以匹配产品型号了，<a href="index.php?r=oms/shproduct/productsku">马上设置»</a>
					</p>
					<p>
						<label>
							<input type="checkbox" name="" id="piliang" style="margin-top:-2px;margin-right:5px;" />批量填写包裹信息</label>
					</p>
					<!-- 勾选此选项 -->
					<div class='yincang hide'style="margin-left:-50px;">
						<p><span>申报价值：</span>
							<input type="text" name="declare_price" id="jiazhi" />USD</p>
						<p><span>申报名称：</span>
							<input type="text" name="declare_name" id="mingcheng" />
						</p>
						<p><span>包裹重量：</span>
							<input type="text" name="weight" id="zhongliang" />g</p>
					</div>
					<div class="" style="margin-left:30px;">
						<input type="submit" name="submit" value="上传" id="uploadBtn" class="btn btn-primary">
						<a class="btn" value="返回" href="{$smarty.server.HTTP_REFERER}">
					</div>
				</form>
			</div>
			<iframe name="myIframe" style="display:none" id='myIframe'></iframe>
			<hr />
			<p>温馨提示：</p>
			<ul class="upLoadUl">
				<li>上传速卖通订单是在出口易下单的第一步，上传的文件必须是在速卖通系统上下载的订单excel文件；</li>
				<li>上传成功的数据会显示在“待发货订单”；</li>
				<li>统一设置速卖通商品编码与出口易产品型号，为您自动匹配重量、申报价值等产品信息。<a href="http://www.chukou1.com/doc/sellinghelper/SKUInfoMapping(AliExpress).pdf" target="_blank">操作说明文档</a>
				</li>
			</ul>
		</div>
		<!-- 基本参数设置 end-->
	</div>
	{literal}
	<script>require(['upload']);</script>
	{/literal}
</body>
</html>