<div class="modal TCCONBorTop hide" name="amazonShippingConfirmModal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h4>亚马逊英国专线服务</h4>
	</div>
	<div class="modal-body">
		<label>服务类型</label><span style="margin-left: 50px;font-weight: bolder;">亚马逊英国专线（本服务包含挂号）</span>
		<p> </p>
		<div class="alert alert-warning">
		    <span style="color:#FF9324;">有&nbsp;<span name="overOrderCount" style="font-weight: bolder; font-size: 18px;"></span>&nbsp;个订单填写申报价值超过免税金额15GBP（建议不超过20USD），可能会产生关税！可以选择如下3种操作：</span>
	    </div>
	</div>
	<div class="modal-footer">
		<a data-dismiss="modal" aria-hidden="true" name="fixPriceButton" class="btn btn-danger">修改并确认</a>
		<a data-dismiss="modal" aria-hidden="true" name="normalSetButton" class="btn btn-primary">直接确认</a>
		<a data-dismiss="modal" aria-hidden="true" name="cancelButton" class="btn">返回修改</a>
		<!-- <p style="margin-top:10px;">修改申报价值为<b>20</b>USD并确认服务</p> -->
	</div>
</div>
