<!--选择中国直发服务弹窗-->
<div class="modal TCCONBorTop hide" style="width: 450px;" name="expressConfirmModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4>选择中国直发服务</h4>
	</div>
	<div class="modal-body">
		<label>服务类型</label>
		<select name="expressServiceOptions"></select>
		&nbsp;
		<span name="expressServiceOptionsCode" class="label label-info" style="font-size: 23px; padding: 8px 5px 8px 5px;"></span>
	</div>
	<div class="modal-footer">
		<a data-dismiss="modal" aria-hidden="true" name="confirmButton" class="btn btn-primary">确定</a>
		<a data-dismiss="modal" aria-hidden="true" class="btn">取消</a>
	</div>
</div>