<!--选择海外仓储服务弹窗-->
<div class="modal TCCONBorTop hide" style="width: 420px;" name="overseaConfirmModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4>选择海外仓储服务</h4>
	</div>
	<div class="modal-body">
		<div>
			<label>发货仓库</label>
			<select name="overseaWarehouseOptions"></select>
		</div>
		<div>
			<label>服务类型</label>
			<select name="overseaServiceOptions"></select>
			&nbsp;
			<span name="overseaServiceOptionsCode" class="label label-info" style="font-size: 23px; padding: 8px 5px 8px 5px;">ADWR</span>
		</div>
	</div>
	<div class="modal-footer">
		<a data-dismiss="modal" aria-hidden="true" name="confirmButton" class="btn btn-primary" >确定</a>
		<a data-dismiss="modal" aria-hidden="true" class="btn" >取消</a>
	</div>
</div>