<div class="modal TCCONBorTop hide fade" style="width: 750px;" id="countryListModal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h4>请选择国家</h4>
	</div>
	<div class="modal-body">
		<div class="country-dialog">
			<div class="country-nav J_country-nav">
				<h3>快捷筛选</h3>
				<!-- 快捷筛选键列表 -->
				<ul style="display:inline;" name="quickFilter">
				</ul>
			</div>
			<div>
				<div class="normal-country J_normal-country">
					<h3>常用国家</h3>
					<!-- 常用国家列表 -->
					<ul name="usualCountry">
					</ul>
					<div class="clear"></div>
				</div>
				<!-- 分类的国家列表 -->
				<div class="country-list" name="countryClassifyList">
				</div>
			</div>
		</div>
	</div>
</div>