{include file='ck1sh/_partials/head_inc.html'}
<body>
	<style type="text/css">
		{literal}
		.table{border:1px solid #ccc;}
		.table th, .table td{vertical-align: middle;}
		input[type="text"],select{margin:5px 0;height:auto;}
		#addlist{position:absolute;right:-100px;bottom:50px;}
		{/literal}
	</style>
	<div class="wrap">
		<ul class="breadcrumb" style="background-color: transparent;">
			<li><a href="http://demo.chukou1.cn/Client/Home/Home.aspx">首页</a>&nbsp;<span class="divider">/</span>
			</li>
			<li class="active">自定义导出表格列</li>
		</ul>
		<div style="border:1px solid #ccc;padding-top:15px;">
			<p>&nbsp;&nbsp;自定义导出表格列 &nbsp;&nbsp;<a href="javascript:;" id="defaultExcel">载入系统默认表格列..</a>
			</p>
			<div style="width:60%;position:relative;margin:15px;">
				<table class="table table-striped table-hover table-condensed" id="customExportColumnTable">
					<col />
					<col />
					<col width="120" />
					<thead>
						<tr>
							<th>自定义列名
								<input id="platform" value="{$platform}" style="display:none;" />
							</th>
							<th>内容项</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="tyValue">
						{foreach from=$data.field key=value item=name name=fun}
						<tr class="delTr">
							<td id="dataTd">
								<input type="text" value="{$value}" name="inputData">
							</td>
							<td>
								<select class="selectData">
									{foreach from=$data.info key=index item=val name=why} {if ($name) == ($index)}
									<option value="{$index}" name="optionData" selected="selected">{$val}</option>
									{else}
									<option value="{$index}" name="optionData">{$val}</option>
									{/if} {/foreach}
								</select>
							</td>
							<td>
								<a href="javascript:;" class="btn delectTr">删除</a>
							</td>
						</tr>
						{/foreach}
					</tbody>
				</table>
				<a href="javascript:;" id="addlist" class="btn">+添加列</a>
				<a href="javascript:;" id="saveDate" class="btn btn-primary">保存</a>
				<a href="?r=oms/shorder/normal&platform={$platform}" class="btn">返回订单列表</a>
			</div>
		</div>
	</div>
	{literal}
	<script>
		"use strict";
		require(['util'], function(util){
			$(function(){
				// 添加列
				$('#addlist').click(function(){
					var $addTr = '';
					var $addTd = '';
					$.ajax({
						url: 'index.php?r=oms/shorder/OptionBind&c=' + Math.random(),
						dataType: 'json',
						success: function(data) {
							for(var i=0;i<data.length;i++){
								$addTd += '<option value="'+i+'" name="optionData">'+data[i]+'</option>';
							}
							$addtr ='<tr class = "delTr">'+'<td><input type="text" name="inputData" /></td>'+'<td>'+'<select>'+$addTd+
							'</select>'+'</td>'+'<td>'+'<a href="javascript:;" class="btn delectTr">删除</a>'+'</td>'+'</tr>';
							$('.table tbody').append($addtr);
						}
					});
				});

				// 删除行
				$('#customExportColumnTable').on('click', '.delectTr', function(){
					$(this).parents('tr').remove();
				});

				// 载入系统默认行
				$('#defaultExcel').click(function(){
					var $platform = $('#platform').val();
					var $type = 'tring';
					var $tr = '';
					var $tdColum = '';
					var $tdValue = '';
					$('tbody').find('.delTr').remove();
					$.ajax({
						url: 'index.php?r=oms/shorder/DefultExcel&c=' + Math.random()+'&type='+$type+' &platform='+$platform,
						success: function(data) {
							for(var key in data.field){
								$tdColum = '<input type="text" name="inputData" value="'+key+'">';
								for(var i=0;i<data.info.length;i++){
									if(data.field[key] == i){
										$tdValue +='<option value="'+i+'" name="optionData" selected = "selected">'+data.info[i]+'</option>';
									}else{
										$tdValue +='<option value="'+i+'" name="optionData">'+data.info[i]+'</option>';
									}
								}
								$tr +='<tr class = "delTr">'+'<td>'+$tdColum+'</td>'+'<td>'+'<select>'+$tdValue+
								'</select>'+'</td>'+'<td>'+'<a href="javascript:;" class = "btn delectTr">删除</a>'+'</td>'+'</tr>';	;
							}
							$('.table tbody').append($tr);
						}
					});
				});

				// 保存
				$('#saveDate').click(function(){
					var $colum = '';
					var $value = '';
					var platform = $('#platform ').val();
					$('[name=inputData]').each(function(){
						if($(this).val() === ''){
							$('[name=hint]').remove();
							$(this).parent().append('<br/><span style="color:red;" name="hint"><font size="1">不能为空！</font></span>');die();
						}
						$colum += $(this).val()+'+';
					});
					$('select').each(function(){
						if($(this).find(':selected').val()==0){
							$('[name=hint]').remove();
							$(this).parent().append('<br/><span style="color:red;" name="hint"><font size="1">请选择！</font></span>');die();
						}
						$value +=$(this).find(':selected').val()+'+';
					});
					$('[name=hint]').remove();
					$colum = $.trim($colum,'+');
					if($colum == ''){
						util.showTips('error', '至少要有一栏！');die();
					}
					$value = $.trim($value,'+');
					var data = {colum:$colum,value:$value};
					$.ajax({
						type: 'POST',
						url: 'index.php?r=oms/shorder/KeepData&c='+ Math.random()+'&platform='+platform,
						dataType: 'json',
						data: data,
						success: function(rs) {
							if(rs){
								util.showTips('success', '保存成功！');
							} else{
								util.showTips('error', '保存失败！');
							}
						}
					});
				});
			});/* jquery $() --end */
		});/* require --end */
	</script>
	{/literal}
</body>
</html>