{include file='ck1sh/_partials/head_inc.html'}
<body client_no = {$account.client_no}>
	<!--顶部警告框-->
	<div class="topWarn"></div>
	<!--添加账户弹-->
	<div id="addAccount" class="resetBootstrapHint modal hide fade" aria-hidden="true" data-backdrop="true">
		<div class="modal-header">
			<h3>
				<span>添加账户</span>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</h3>
		</div>
		<div class="modal-body accountWindow">
			<p>
				<span>商户ID</span>
				<input type="text" class="userId" id="userId"/>
				<b style= "color:red">*</b>
			</p>
			<p class='userNameJudge'></p>
			<p>
				<span >商户名称</span>
				<input type="text" class="soGoName" id="soGoName"/>
				<b style= "color:red">*</b>
			</p>
			<p>
				<span>商户联系人</span>
				<input type="text" class="soGoContact" id="soGoContact"/>
			</p>
			<p>
				<span>账户邮箱</span>
				<input type="text" class="eMail" id="eMail"/>
			</p>
			<p>
				<span>账户手机</span>
				<input type="text" class="phone" id="phone"/>
			</p>
			<p>
				<span>是否启用</span>
				<label>
					<input type="radio" name="start" class='yes' id="actived" radioType='1' checked/><b>是</b>
				</label>
				<label>
					<input type="radio" name="start" class='no' id="inactived" radioType='0'/><b>否</b>
				</label>
			</p>
		</div>
		<div class="modal-footer">
			<span style="color:red;float:left;"></span>
			<input type="button" value="添加" class="btn btn-primary addIdBtn" id= "addId"/>
			<input type="button" value="保存" class="btn btn-primary saveIdBtn" id ="saveId" style='display:none;'/>
			<button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
		</div>
	</div>
	<div class="wrap">
		<ul class="breadcrumb" style="background-color: transparent;">
            <li><a href="http://demo.chukou1.cn/Client/Home/Home.aspx">首页</a>&nbsp;<span class="divider">/</span></li>
            <li><a href="?r=oms/home">Selling Helper</a>&nbsp;<span class="divider">/</span></li>
            <li><a href="?r=oms/shorder/normal&platform={$platform}">{$platformName}</a>&nbsp;<span class="divider">/</span></li>
            <li class="active">账号管理</li>
        </ul>
		<div class="tabHead">
			<ul><li><a class="tabActive">Wish账号</a></li></ul>
			<div class="tabHeadRight">
				<a href="?r=oms/shorder/normal&amp;platform=104" class="btn">
					<i class="fa fa-mail-reply"></i> 返回订单列表</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="content">
			<div class="tabBody">
				<div class="tabBody1">
					<div class="tabBodyHead">
						<div class="sel">
							<div class="selRight">
								<input type="button" value="添加账号" class="btn btn-primary wishAddUser" id="wishAddUser">
								<input type="button" value="启用账号" class="btn btn-warning" id ="startUser"  data-op ="enable">
								<input type="button" value="停用账号" class="btn btn-warning" id = "stopUser"  data-op ="disable">
								<input type="button" value="删除" class="btn btn-warning" id ="delUser" data-op ="del">
							</div>
							<div class="clear"></div>
						</div>

					</div>
					<div class="tabBodyCon">
						<table class="table table-striped table-hover">
							<colgroup>
								<col width="70px"/>
								<col />
								<col />
								<col />
								<col width="100px"/>
								<col width="100px"/>
							</colgroup>
							<thead>
								<tr>
									<th><label>全选<input type="checkbox" /></label></th>
									<th>商户ID</th>
									<th>商户名称</th>
									<th>商户联系人</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
							{if ($account.data eq null) }
								<tr><td colspan="6" align="center">无数据</td></tr>
							{else}
								{foreach from=$account.data item=i key=k}
								<tr data-id='{$i.account_id}'>
									<td><input type="checkbox" /></td>
									<td class="merchant_id">{$i.merchant_id}</td>
									<td class="shop_name">{$i.shop_name}</td>
									<td class="shop_keeper">{$i.shop_keeper}</td>
									<td class="account_statusBox">
									 	<span class="account_status">
									 		{if ($i.account_status eq 1)}
									 			已启用
									 		{elseif ($i.account_status eq 0)}
									 			已停用
									 		{/if}
									 	</span>
										<span style="display: none" class="phone">{$i.phone}</span>
										<span style="display: none" class="email">{$i.email}</span>
										<span style="display: none" class="account_id">{$i.account_id}</span>
									</td>
									<td class="accountIdEdit">
										<a href="javascript:;"><i class="icon-pencil"></i>编辑</a>
									</td>
								</tr>
								{/foreach}
							{/if}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	{literal}
	<script>
		"use strict";
		require(['util'], function(util){
			$(function() {
				// 获取弹窗里边表单
				var $oAddAccount = $('#addAccount');
				var user_Id  = $oAddAccount.find('.userId');	// 商户
				var soGoName =$oAddAccount.find('.soGoName');
				var soGoContact =$oAddAccount.find('.soGoContact');
				var eMail = $oAddAccount.find('.eMail');
				var phone = $oAddAccount.find('.phone');
				var modalFooterSpan = $oAddAccount.find('.modal-footer span');
				var thisEditId = 0;	// 帐号ID

				$('body').attr('id','wishAccount');
				var addEditNum=0;
				// 新增帐号弹出帐号窗口
				$('.wishAddUser').on('click', function() {
					addEditNum = 1;
					$('#addAccount').modal('show');
					var client_no = $('body').attr('client_no');
					if(addEditNum){
						$('#addId').show();
						$('#saveId').hide(0);
					}

					/* 重置 */
					$oAddAccount.find('input[type="text"]').val('');
					$oAddAccount.find('input[type="radio"]').eq(0).prop('checked', true);
					$oAddAccount.find('.userNameJudge').text('');
					$('.userNameJudge').hide();
				});
				util.TCClose($('.addAccountTC .TCCloseBtn,.addAccountTC .TCCancelBtn'), $('.addAccountTC'));
				util.checkAllBoxes($('.tabBodyCon table thead :checkbox'), $('.tabBodyCon table tbody :checkbox'));

				// 当用户名表单失去焦点的时候判断用户是否已被注册--start
				user_Id.blur(function() {
					if (!addEditNum) {
						return;
					}

					var userIdVal = user_Id.val();

					if (!userIdVal) {
						$('.userNameJudge').html('请输入用户名!').css('color','red');
						$('.userNameJudge').show();
						return;
					}

					$.ajax({
						url: "?r=oms/shwish/AccountCheck",
						type:'get',
						data:{'userId':userIdVal},
						success: function(data) {
							var jsonData = JSON.parse(data);
							if(jsonData != null && jsonData instanceof Object){
								if (jsonData.statu == 1) {
									$('.userNameJudge').html('用户名已被注册，请重新输入!');
									$('.userNameJudge').css('color', '#F78B8B');
									$('.userNameJudge').show();

								} else if (jsonData.statu == 0) {
									$('.userNameJudge').html('用户名可用');
									$('.userNameJudge').css('color', 'green');
									$('.userNameJudge').show();
								}
							} else {
								util.showTips('error','数据有误!');
							}
						}
					});
				});
				//当用户名表单失去焦点的时候判断用户是否已被注册--end

				// 点击添加按钮--start
				$(function(){
					$('#addId').bind('click', insert);
				});

				// 去掉2边输入的空格
				util.fTrim($([
					user_Id,
					soGoName,
					soGoContact,
					eMail,
					phone
				]));

				// 手机、邮箱正则
				var mailCheck = /^[a-zA-Z0-9][a-zA-Z0-9._-]*\@[a-zA-Z0-9]+\.[a-zA-Z0-9\.]+$/;
				var phoneCheck = /^((13[0-9])|147|(15[0-35-9])|180|182|(18[5-9]))[0-9]{8}$/;
				function insert(){
					var userIdVal = user_Id.val();	// 商户
					var shopNameVal = soGoName.val();
					var shopKeeperVal = soGoContact.val();
					var clientNoVal = $('body').attr('client_no');	// 客户
					var emailVal = eMail.val();
					var phoneVal = phone.val();
					var radioType = $('.modal-body input[type="radio"]:checked').attr('radioType');
					if (radioType != 1)
						radioType = 0;

					// 判断表单是否为空
					if (!userIdVal || !shopNameVal) {
						modalFooterSpan.html('请填写完整!');

					}else if (emailVal && !mailCheck.test(emailVal)) {
						modalFooterSpan.html('邮箱格式不正确!');

					}else if (phoneVal && !phoneCheck.test(phoneVal)) {
						modalFooterSpan.html('手机格式不正确!');

					}else {
						// ajax传值-start
						var result = {'merchant_id':userIdVal,'shopName':shopNameVal,'shopKeeper':shopKeeperVal,'client_no':clientNoVal,'email':emailVal,'phone':phoneVal,'radio':radioType,'type':'add'};
						$.ajax({
							url: "?r=oms/Shwish/DealWishAccount",
							type:'post',
							data:result,
							success: function(data) {
								if(data != null && data instanceof Object){
									// 判断用户名是否已被注册
									if (data.statu == 0) {
										modalFooterSpan.html('抱歉，用户名已被注册，请重新输入!');
									} else {
										util.showTips('success','添加成功!');
											setTimeout(function() {
											window.location.reload();
										}, 1000)
									}
								}else{
									util.showTips('error','添加失败!');
								}
							}
						});
					}
					// ajax传值-end
				}
				// 点击添加按钮--end

				// 删除账户
				wishUpdateAjax($('#delUser'));
				// 启用账户
				wishUpdateAjax($('#startUser'));
				// 停用账户
				wishUpdateAjax($('#stopUser'));
				function wishUpdateAjax(obj) {
					obj.on('click', function() {
						var urlStr = "?r=oms/shwish/UpdateAccount&type=";
						var getAllId_str = util.getAllId($('.tabBodyCon tbody tr input[type=checkbox]:checked'));
						var $this = $(this);
						var operate = $this.data('op');
						if (getAllId_str.length == 0) {
							util.showTips('info','未选择账号记录！');
						} else {
							if (operate == 'del') {
								var tips = confirm('确定删除？');
								if (!tips == true) {
									return;
								}
							}

							$.ajax({
								url: urlStr + operate + "&account_id=" + getAllId_str + "&ccc=" + Math.random(),
								success: function(data) {
									if (data == 0) {
										util.showTips('error','操作失败！');
										setTimeout(function() {
											window.location.reload();
										}, 1000);
									} else {
										util.showTips('success','操作成功！');
										setTimeout(function() {
											window.location.reload();
										}, 1000);
									}
								}
							});
						}
					});
				}

				// 编辑wish账号--弹窗--start
				// 当前Id
				$('.accountIdEdit').on('click', function() {
					modalFooterSpan.empty();
					addEditNum = 0;
					$('#addAccount .modal-header h3 span').html('编辑账号');
					$('#addAccount').modal('show');
					$('.userNameJudge').hide();
					var merchant_id = $(this).siblings().filter('.merchant_id').html();
					var shop_name = $(this).siblings().filter('.shop_name').html();
					var shop_keeper = $(this).siblings().filter('.shop_keeper').html();
					var account_status = $(this).siblings().filter('.account_statusBox').find('.account_status').text();
					var email = $(this).siblings().filter('.account_statusBox').find('.email').text();
					var phone = $(this).siblings().filter('.account_statusBox').find('.phone').text();
					ThisEditId =$(this).siblings().filter('.account_statusBox').find('.account_id').text();
					if(addEditNum==0){
						$('#userId').val(merchant_id);
						$('#soGoName').val(shop_name);
						$('#soGoContact').val(shop_keeper);
						$('#eMail').val(email);
						$('#phone').val(phone);
						if(!addEditNum){
							$('#saveId').show(0);
							$('#addId').hide(0);
						}
						if (account_status.indexOf('已启用') > 0){
							$('#actived').prop('checked', true);
						} else{
							$('#inactived').prop('checked', true);
						}
					}
				})
				// 编辑wish账号--弹窗--end

				// 点击保存按钮--start
				$(function(){
					$('#saveId').bind('click',save);
				});
				function save(){
					var userIdVal = user_Id.val();	// 商户
					userIdVal = userIdVal.substr(0,40);
					var shopNameVal = soGoName.val();
					shopNameVal = shopNameVal.substr(0,30);
					var shopKeeperVal = soGoContact.val();
					var clientNoVal = $('body').attr('client_no');	// 客户
					var emailVal = eMail.val();
					var phoneVal = phone.val();
					var radioType=$('.modal-body input[type="radio"]:checked').attr('radioType');
					if (radioType != 1)
						radioType = 0;
						// 判断表单是否为空
						if (!userIdVal || !shopNameVal) {
							modalFooterSpan.html('请填写完整！');
						}else if (emailVal && !mailCheck.test(emailVal)) {
							modalFooterSpan.html('邮箱格式不正确!');
						}else if (phoneVal && !phoneCheck.test(phoneVal)) {
							modalFooterSpan.html('手机格式不正确!');
						}else {
							// ajax传值-start
							var result = {'merchant_id':userIdVal,'shopName':shopNameVal,'shopKeeper':shopKeeperVal,'client_no':clientNoVal,'email':emailVal,'phone':phoneVal,'radio':radioType,'type':'edit','account_id':ThisEditId};
							$.ajax({
								url: "?r=oms/Shwish/DealWishAccount",
								type:'post',
								data:result,
								success: function(data) {
									if(data != null && data instanceof Object){
										// 判断用户名是否已被注册
										if (data.statu == 0) {
											modalFooterSpan.html('抱歉，用户名已被注册，请重新输入!').css('color','red');
										} else {
											modalFooterSpan.html('保存成功!').css('color','green');
											setTimeout(function() {
												window.location.reload();
											}, 1000)
										}
									}else{
										util.showTips('error','数据有误!');
									}
								}
							});
						}
					};// 点击保存按钮--end
			});
		});
	</script>
	{/literal}
</body>
</html>